<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Auteur</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Ajouter un Auteur</h1>
<hr/>

<form action="/auteurs/ajouter" method="post">
    <label>Nom :</label>
    <input type="text" name="nom" required/>

    <label>Prénom :</label>
    <input type="text" name="prenom" required/>

    <button type="submit" class="btn-ajouter">Ajouter</button>
</form>

<hr/>
<a href="/auteurs" class="retour">← Retour</a>
</body>
</html>