<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Livre</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Ajouter un Livre</h1>
<hr/>

<form action="/livres/ajouter" method="post">

    <label>ISBN :</label>
    <input type="text" name="isbn" required/>

    <label>Titre :</label>
    <input type="text" name="titre" required/>

    <button type="submit" class="btn-ajouter">Ajouter</button>

</form>

<hr/>
<p style="color: #888; font-size: 13px;">
    💡 Pour affecter des auteurs à un livre,
    utilisez la page
    <a href="/affecter">Affectation</a>
</p>
<hr/>
<a href="/livres" class="retour">← Retour</a>
</body>
</html>