<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion Bibliothèque</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Gestion Bibliothèque</h1>
<h2>Bonjour Mr/Mme</h2>

<div class="menu-container">
    <hr/>
    <p><strong>Menu : Gestion de la librairie</strong></p>
    <br/>
    <p>📚 Ajouter des livres</p>
    <br/>
    <p>✍️ Ajouter des auteurs</p>
    <br/>
    <p><strong>🔗 Affectation des auteurs aux livres</strong></p>
    <hr/>
    <br/>
    <a href="/auteurs" class="btn-blue">👥 Gérer les Auteurs</a>
    <a href="/livres" class="btn-blue">📖 Gérer les Livres</a>
    <a href="/affecter" class="btn-blue">🔗 Affecter Auteurs aux Livres</a>
</div>

</body>
</html>